<!DOCTYPE html>
<html>

<head>
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<title>Quokka Homepage</title>
</head>

<body>
	<img src="logo.jpg" align="center" vspace="4px" />
	<!--tabs on top of the page- hyperlink to other pages-->
    <table> 
    	<td><a href="home.html">Home</a></td>         
        <td><a href="about.html">About</a></td>
        <td><a href="organizer.html">Organizer</a></td>
        <td><a href="search.html">Search</a></td>
        <td><a href="forum.html">Forum</a></td>
        <td><a href="contact.html">Contact</a></td>
    </table>
    
    <div class="para">
    <h1> College Application Organization to the Max! </h1> 
    <p> Quokka provides a simple organizational application to make the next big step of 
    your life easier. Unlike other applications that simply have a search tool or a
    click-by-click college application organizer, Quokka has everything in one <em>FREE</em>
    service designed BY high school students FOR high school students. </p> 
    </div>
    
    <div class="para">
    <h2> Why Choose Us? </h2>
    <p> The minimalistic style of Quokka provides for a comfortable interface to organize
    applications. In addition, Quokka is 100% FREE with no hidden costs. You can apply
    to as many colleges as you would like without having to pay a fee because paying for
    college is already expensive enough! Finally, and most importantly, Quokka lets you 
    view all college applications in one window, so you do not have to click back and forth
    or open multiple tabs to view the colleges to which you applied. Take a look at the
    About tab to find more about Quokka's features and how we began. </p>
    </div>
    
    <div class="para">
    <h2> Let's Get Started! </h2>
    <a href="login.html"><div id="signup"><span>SIGN UP NOW</span></div></a> <!-- button to sign up -->
	</div>
	
</body>

<html>


